/* __________________________________________________reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* __________________________________________________my styles */

:root{
	--font-impact: "Impact", sans-serif;
	--font-sizee-multiplier: 1.1;
}

/* __________________________________________________first-scr */

.first-scr {
min-height: 100vh;
position: relative;
background: url('img/Background.png') no-repeat 50%/cover;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

.first-scr-grid {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1.4fr;
}

.first-scr-grid-cell {
	box-sizing: border-box;
	padding-top: 130px;
}

header {
	grid-column: 1/3;
	padding: 60px 24px 0;
	display: block;
}

header ul {
	float: right;
}

header li{
	display: inline-block;
	margin-right: 35px;
	color: #fff;
	text-decoration: none;
	font-family: var(--font-impact);
	font-size: 20px;
	text-transform: uppercase;
	position: relative;
	top: 14px;
}

header li a {
	color: #fff;
}

#search-icon {
	float: right;
	position: relative;
	top: 15px;
	margin-right: 20px;
}

header button {
	float: right;
	background: transparent;
	outline: none;
	border: 2px solid white;
	font-family: var(--font-impact);
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	padding: 20px 35px;
	position: relative;
	bottom: 10px;
}

header button::after {
	content: '';
	width: 10px;
	height: 10px;
	background-color: #4cb1ca;
	position: absolute;
	top: 27px;
	right: 12px;
	transform: rotate(45deg);
}

.first-scr-sudtitle {
	font-size: calc(17px*var(--font-sizee-multiplier));
	font-family: var(--font-impact);
	color: rgb(213, 150, 186);
	margin-bottom: 12px;
}

h1 {
	font-size: calc(51px*var(--font-sizee-multiplier));
	font-family: var(--font-impact);
	color: rgb(246, 251, 252);
	margin-bottom: 39px;
}

.first-scr-slogan {
	font-size: calc(17px*var(--font-sizee-multiplier));
	font-family: var(--font-impact);
	color: #97155b;
	margin-bottom: 56px;
}

.first-scr-grid-cell button {
	background-color: red;
	color: #fff;
	outline: none;
	border: none;
	padding: 23px 39px;
	font-family: var(--font-impact);
	font-size: calc(20px*var(--font-sizee-multiplier));
	position: relative;
	text-transform: uppercase;
}

.first-scr-grid-cell button::after {
	content: '';
	width: 10px;
	height: 10px;
	background-color: #fff;
	position: absolute;
	top: 35px;
	right: 12px;
	transform: rotate(45deg);
}
  
/* __________________________________________________second-scr */

.second-scr {
	width: 100%;
	min-height: 640px;
	background-color: #a99494;
}

.second-scr-grid {
	width: 95%;
	display: grid;
	margin: 0 auto;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: minmax(520px, auto);
	gap: 40px;
	position: relative;
	bottom: 30px;
}

.second-scr-grid-item {
	background-color: #fff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.second-scr-grid-item img {
	display: block;
	width: 90%;
	margin: 0 auto;
	position: relative;
	bottom: 30px;
}

.item-content-width {
	width: 90%;
	margin: 0 auto;
	margin-top: 47px;
	font-size: 24px;
	font-family: "Arial";
	color: rgb(41, 37, 37);
	font-weight: 700;
}

.item-content-width > p {
	font-size: 16px;
	margin-top: 20px;
}

.red-line {
	width: 125px;
	height: 10px;
	background-color: red;
	margin-top: 20px;
}

/* __________________________________________________third-scr */

footer {
	width: 100%;
	height: 567px;
	background-color: white;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(5, 1fr) ;
}

footer div {
	font-size: 24px;
	font-family: "Arial";
	grid-column: 10/13;
	grid-row: 2/3;
	font-weight: bold;
}

